#testi
.splide__pagination {
    bottom: -1.5em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1;
}
#testi
.splide__pagination__page.is-active {
    background: #0877BE;
    transform: scale(1.4);
    z-index: 1;
}
#testi
.splide__pagination__page {
    background: #ccc;
    border: 0;
    border-radius: 10%;
    display: inline-block;
    width: 15px;
    height: 2px;
    margin: 3px;
    opacity: .7;
    padding: 0;
    position: relative;
    transition: transform .2s linear;
}


#associations
.splide__pagination {
    bottom: -2em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1;
}
#associations
.splide__pagination__page.is-active {
    background: #FFF;
    transform: scale(1.4);
    z-index: 1;
}
#associations
.splide__pagination__page {
    background: #ccc;
    border: 0;
    border-radius: 10%;
    display: inline-block;
    width: 15px;
    height: 2px;
    margin: 3px;
    opacity: .7;
    padding: 0;
    position: relative;
    transition: transform .2s linear;
}
#awards
.splide__pagination {
    bottom: -2em;
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 1;
}
#awards
.splide__pagination__page.is-active {
    background: #FFF;
    transform: scale(1.4);
    z-index: 1;
}
#awards
.splide__pagination__page {
    background: #ccc;
    border: 0;
    border-radius: 10%;
    display: inline-block;
    width: 15px;
    height: 2px;
    margin: 3px;
    opacity: .7;
    padding: 0;
    position: relative;
    transition: transform .2s linear;
}